<article class="module width_quarter">
	<div id="tab1" class="tab_content show_section">
		<h4>Name</h4>
		<div class="profile_attribute">
		  <%= @selected_admin_user.first_name %> <%= @selected_admin_user.last_name %>
		</div>
		<h4>Email</h4>
		<div class="profile_attribute">
		  <%= @selected_admin_user.email %>
		</div>
	</div><!-- end of #tab1 -->
</article><!-- end of display item article -->