$.fn.highlightItem('#{@selected_admin_user.id}');
$('div#display_asset_item').html("#{escape_javascript(render partial: 'admin_user', locals: {asset_object: @selected_admin_user})}");
$('div#display_asset_item').effect('highlight');
