<article class="module width_quarter">
	<header><h3><%= @asset_name %> Id <%= @asset_object.id %></h3></header>
	<div class="message_list">
		<div class="module_content">
			<% @asset_object.attributes.each do |key,value| %>
			  <div class="message"><p><%= value %></p>
			  <p class="field_name"><strong><%= key %></strong></p></div>
			<% end %>
		</div>
	</div>
	<footer>
		
	</footer>
</article><!-- end of display item article -->