=form_tag(url, method: method) do
  - hash.each do |field,value|
    %fieldset.string
      =label_tag "#{hash_name}[#{field}]".to_sym, field.humanize
      =text_field_tag "#{hash_name}[#{field}]", value
  =submit_tag action_label, class: 'alt_btn'
.spacer