.article
  %article.module.width_full
    %header
      %h3 Welcome to AppYantra Admin.
    %p
      This engine is work in progress.
      %br/
      Currently you can create and manage Admin users, settings and Assets.
  .spacer
