/ Featured Image Slider
#featured.clearfix.grid_12
  %ul
    %li
      %a{:href => "#"}
        %span Read about this project
        %img{:alt => "", :src => "/assets/website/600x300.gif"}/
    %li
      %a{:href => "#"}
        %span Read about this project
        %img{:alt => "", :src => "/assets/website/600x300.gif"}/
    %li
      %a{:href => "#"}
        %span Read about this project
        %img{:alt => "", :src => "/assets/website/600x300.gif"}/
    %li
      %a{:href => "#"}
        %span Read about this project
        %img{:alt => "", :src => "/assets/website/600x300.gif"}/
    %li
      %a{:href => "#"}
        %span Read about this project
        %img{:alt => "", :src => "/assets/website/600x300.gif"}/
.hr.grid_12.clearfix  
/ Caption Line
%h2.grid_12.caption.clearfix
  Welcome! This website is managed using
  %span AppYantra Admin
.hr.grid_12.clearfix.quicknavhr  
#quicknav.grid_12
  %a.quicknavgrid_3.quicknav.alpha{:href => "#"}
    %h4.title Recent Work
    %p Cras vestibulum lorem et dui mollis sed posuere leo semper.
    %p{:style => "text-align:center;"}
      %img{:alt => "", :src => "/assets/website/place_holder_img.png"}/
  %a.quicknavgrid_3.quicknav{:href => "#"}
    %h4.title Learn about us
    %p Cras vestibulum lorem et dui mollis sed posuere leo semper.
    %p{:style => "text-align:center;"}
      %img{:alt => "", :src => "/assets/website/place_holder_img.png"}/
  %a.quicknavgrid_3.quicknav{:href => "#"}
    %h4.title Read our blog
    %p Cras vestibulum lorem et dui mollis sed posuere leo semper.
    %p{:style => "text-align:center;"}
      %img{:alt => "", :src => "/assets/website/place_holder_img.png"}/
  %a.quicknavgrid_3.quicknav{:href => "#"}
    %h4.title Follow on Twitter
    %p Cras vestibulum lorem et dui mollis sed posuere leo semper.
    %p{:style => "text-align:center;"}
      %img{:alt => "", :src => "/assets/website/place_holder_img.png"}/